In [1]:
import pandas as pd
from basic_api_access import BasicApiAccess
import datetime
import os
import numpy as np

In [2]:
username = os.environ['PEGELALARM_USER']
password = os.environ['PEGELALARM_PASSWORD']

baa = BasicApiAccess(username, password)

In [36]:
stations_dict = [
    {
        'water_name': 'Vichtbach',
        'station_name': 'Mulartshütte'
    }, {
        'water_name': 'Losse',
        'station_name': 'Helsa'
    }, {
        'water_name': 'Murg',
        'station_name': 'Frauenfeld'
    }, {
        'water_name': 'Wupper',
        'station_name': 'Glüder'
    }, {
        'water_name': 'Angerbach',
        'station_name': 'Ratingen'
    }, {
        'outlier_timestamp': '2020-07-27 16:00:00.0',
        'water_name': 'Crana',
        'station_name': 'Tullyarvan'
    }, {
        'outlier_timestamp': '2021-01-25 14:00:00.0',
        'water_name': 'Sieg',
        'station_name': 'Betzdorf'
    }, {
        'outlier_timestamp': '2021-05-27 15:00:00.0',
        'water_name': 'Schmeie',
        'station_name': 'Ebingen'
    }, {
        'outlier_timestamp': '2021-05-27 01:00:00.0',
        'water_name': 'Schmeie',
        'station_name': 'Ebingen'
    }, {
        'outlier_timestamp': '2021-06-01 04:00:00.0',
        'water_name': 'Schmeie',
        'station_name': 'Ebingen'
    }, {
        'outlier_timestamp': '2021-05-30 20:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-30 21:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-30 22:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 05:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 18:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 22:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 06:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 23:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 07:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 17:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 08:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 15:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-25 16:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-18 05:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-17 08:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }, {
        'outlier_timestamp': '2021-05-16 02:00:00.0',
        'water_name': 'Aghacashlaun',
        'station_name': 'Aghacashlaun'
    }]
stations_df = pd.DataFrame.from_dict(stations_dict)
stations_df['common_id'] = None
stations_df

      water_name  station_name      outlier_timestamp common_id
0      Vichtbach  Mulartshütte                    NaN      None
1          Losse         Helsa                    NaN      None
2           Murg    Frauenfeld                    NaN      None
3         Wupper        Glüder                    NaN      None
4      Angerbach      Ratingen                    NaN      None
5          Crana    Tullyarvan  2020-07-27 16:00:00.0      None
6           Sieg      Betzdorf  2021-01-25 14:00:00.0      None
7        Schmeie       Ebingen  2021-05-27 15:00:00.0      None
8        Schmeie       Ebingen  2021-05-27 01:00:00.0      None
9        Schmeie       Ebingen  2021-06-01 04:00:00.0      None
10  Aghacashlaun  Aghacashlaun  2021-05-30 20:00:00.0      None
11  Aghacashlaun  Aghacashlaun  2021-05-30 21:00:00.0      None
12  Aghacashlaun  Aghacashlaun  2021-05-30 22:00:00.0      None
13  Aghacashlaun  Aghacashlaun  2021-05-25 05:00:00.0      None
14  Aghacashlaun  Aghacashlaun  2021-05-25 18:00:00.0      None
15  Aghacashlaun  Aghacashlaun  2021-05-25 22:00:00.0      None
16  Aghacashlaun  Aghacashlaun  2021-05-25 06:00:00.0      None
17  Aghacashlaun  Aghacashlaun  2021-05-25 23:00:00.0      None
18  Aghacashlaun  Aghacashlaun  2021-05-25 07:00:00.0      None
19  Aghacashlaun  Aghacashlaun  2021-05-25 17:00:00.0      None
20  Aghacashlaun  Aghacashlaun  2021-05-25 08:00:00.0      None
21  Aghacashlaun  Aghacashlaun  2021-05-25 15:00:00.0      None
22  Aghacashlaun  Aghacashlaun  2021-05-25 16:00:00.0      None
23  Aghacashlaun  Aghacashlaun  2021-05-18 05:00:00.0      None
24  Aghacashlaun  Aghacashlaun  2021-05-17 08:00:00.0      None
25  Aghacashlaun  Aghacashlaun  2021-05-16 02:00:00.0      None

In [37]:
for idx, row in stations_df.groupby(['station_name', 'water_name']).any().reset_index().iterrows():
    currentStationData = baa.query_current_data(
        station_name=row['station_name'], water_name=row['water_name'])
    stations_df.loc[(stations_df['station_name'] == row['station_name']) & (stations_df['water_name'] == row['water_name']), 'common_id'] = currentStationData["stations"][0]["commonid"]

    # stations_df.at[idx, 'common_id'] = currentStationData["stations"][0][
    #     "commonid"]

stations_df.to_csv('./data/stations.csv', index=False)
stations_df

      water_name  station_name      outlier_timestamp         common_id
0      Vichtbach  Mulartshütte                    NaN  2824450000100-de
1          Losse         Helsa                    NaN       42960105-de
2           Murg    Frauenfeld                    NaN           2386-ch
3         Wupper        Glüder                    NaN  2736731000100-de
4      Angerbach      Ratingen                    NaN  2756500000100-de
5          Crana    Tullyarvan  2020-07-27 16:00:00.0          39003-ie
6           Sieg      Betzdorf  2021-01-25 14:00:00.0     2720050000-de
7        Schmeie       Ebingen  2021-05-27 15:00:00.0      auto-1003803
8        Schmeie       Ebingen  2021-05-27 01:00:00.0      auto-1003803
9        Schmeie       Ebingen  2021-06-01 04:00:00.0      auto-1003803
10  Aghacashlaun  Aghacashlaun  2021-05-30 20:00:00.0          36022-ie
11  Aghacashlaun  Aghacashlaun  2021-05-30 21:00:00.0          36022-ie
12  Aghacashlaun  Aghacashlaun  2021-05-30 22:00:00.0          36022-ie
13  Aghacashlaun  Aghacashlaun  2021-05-25 05:00:00.0          36022-ie
14  Aghacashlaun  Aghacashlaun  2021-05-25 18:00:00.0          36022-ie
15  Aghacashlaun  Aghacashlaun  2021-05-25 22:00:00.0          36022-ie
16  Aghacashlaun  Aghacashlaun  2021-05-25 06:00:00.0          36022-ie
17  Aghacashlaun  Aghacashlaun  2021-05-25 23:00:00.0          36022-ie
18  Aghacashlaun  Aghacashlaun  2021-05-25 07:00:00.0          36022-ie
19  Aghacashlaun  Aghacashlaun  2021-05-25 17:00:00.0          36022-ie
20  Aghacashlaun  Aghacashlaun  2021-05-25 08:00:00.0          36022-ie
21  Aghacashlaun  Aghacashlaun  2021-05-25 15:00:00.0          36022-ie
22  Aghacashlaun  Aghacashlaun  2021-05-25 16:00:00.0          36022-ie
23  Aghacashlaun  Aghacashlaun  2021-05-18 05:00:00.0          36022-ie
24  Aghacashlaun  Aghacashlaun  2021-05-17 08:00:00.0          36022-ie
25  Aghacashlaun  Aghacashlaun  2021-05-16 02:00:00.0          36022-ie

In [38]:
stations_df = pd.read_csv('./data/stations.csv')
stations_df

      water_name  station_name      outlier_timestamp         common_id
0      Vichtbach  Mulartshütte                    NaN  2824450000100-de
1          Losse         Helsa                    NaN       42960105-de
2           Murg    Frauenfeld                    NaN           2386-ch
3         Wupper        Glüder                    NaN  2736731000100-de
4      Angerbach      Ratingen                    NaN  2756500000100-de
5          Crana    Tullyarvan  2020-07-27 16:00:00.0          39003-ie
6           Sieg      Betzdorf  2021-01-25 14:00:00.0     2720050000-de
7        Schmeie       Ebingen  2021-05-27 15:00:00.0      auto-1003803
8        Schmeie       Ebingen  2021-05-27 01:00:00.0      auto-1003803
9        Schmeie       Ebingen  2021-06-01 04:00:00.0      auto-1003803
10  Aghacashlaun  Aghacashlaun  2021-05-30 20:00:00.0          36022-ie
11  Aghacashlaun  Aghacashlaun  2021-05-30 21:00:00.0          36022-ie
12  Aghacashlaun  Aghacashlaun  2021-05-30 22:00:00.0          36022-ie
13  Aghacashlaun  Aghacashlaun  2021-05-25 05:00:00.0          36022-ie
14  Aghacashlaun  Aghacashlaun  2021-05-25 18:00:00.0          36022-ie
15  Aghacashlaun  Aghacashlaun  2021-05-25 22:00:00.0          36022-ie
16  Aghacashlaun  Aghacashlaun  2021-05-25 06:00:00.0          36022-ie
17  Aghacashlaun  Aghacashlaun  2021-05-25 23:00:00.0          36022-ie
18  Aghacashlaun  Aghacashlaun  2021-05-25 07:00:00.0          36022-ie
19  Aghacashlaun  Aghacashlaun  2021-05-25 17:00:00.0          36022-ie
20  Aghacashlaun  Aghacashlaun  2021-05-25 08:00:00.0          36022-ie
21  Aghacashlaun  Aghacashlaun  2021-05-25 15:00:00.0          36022-ie
22  Aghacashlaun  Aghacashlaun  2021-05-25 16:00:00.0          36022-ie
23  Aghacashlaun  Aghacashlaun  2021-05-18 05:00:00.0          36022-ie
24  Aghacashlaun  Aghacashlaun  2021-05-17 08:00:00.0          36022-ie
25  Aghacashlaun  Aghacashlaun  2021-05-16 02:00:00.0          36022-ie

In [30]:
loadStartDate = datetime.datetime(2015, 1, 1, 0, 0)
loadEndDate = datetime.datetime.now()
ts_df_dict = {}
for common_id in stations_df['common_id'].unique():
    print(f'Requesting: {common_id}')
    df_raw = baa.query_historic_data(common_id, loadStartDate, loadEndDate, granularity='raw')
    print(f'raw shape: {df_raw.shape}')
    tmpEndDate = df_raw['sourceDate'].min()  - np.timedelta64(1, 's')
    df_hourly = baa.query_historic_data(common_id, loadStartDate, tmpEndDate, granularity='hour')
    print(f'hourly shape: {df_hourly.shape}')
    ts_df_dict[common_id] = pd.concat([df_raw, df_hourly])

Requesting: 2824450000100-de
raw shape: (4114, 2)
hourly shape: (49895, 2)
Requesting: 42960105-de
raw shape: (3290, 2)
hourly shape: (47726, 2)
Requesting: 2386-ch
raw shape: (3469, 2)
hourly shape: (47107, 2)
Requesting: 2736731000100-de
raw shape: (4036, 2)
hourly shape: (47625, 2)
Requesting: 2756500000100-de
raw shape: (4195, 2)
hourly shape: (47968, 2)
Requesting: 39003-ie
raw shape: (6383, 2)
hourly shape: (21418, 2)
Requesting: 2720050000-de
raw shape: (2160, 2)
hourly shape: (47362, 2)
Requesting: auto-1003803
raw shape: (8003, 2)
hourly shape: (43691, 2)
Requesting: 36022-ie
raw shape: (6368, 2)
hourly shape: (20821, 2)

In [31]:
for key, val in ts_df_dict.items():
    print(f'Saving {key}')
    val.to_csv(f'./data/raw/csv/{key}.csv', index=False)

Saving 2824450000100-de
Saving 42960105-de
Saving 2386-ch
Saving 2736731000100-de
Saving 2756500000100-de
Saving 39003-ie
Saving 2720050000-de
Saving auto-1003803
Saving 36022-ie

In [32]:
for key, val in ts_df_dict.items():
    print(f'Saving {key}')
    val['sourceDate'] = pd.to_datetime(val['sourceDate'], utc=True)
    val.sort_values('sourceDate', inplace=True)
    val.reset_index(inplace=True, drop=True)
    val.to_parquet(f'./data/raw/parquet/{key}.parquet')

Saving 2824450000100-de
Saving 42960105-de
Saving 2386-ch
Saving 2736731000100-de
Saving 2756500000100-de
Saving 39003-ie
Saving 2720050000-de
Saving auto-1003803
Saving 36022-ie

In [33]:
combined_df = None
for key, val in ts_df_dict.items():
    val['common_id'] = key
    if combined_df is None:
        combined_df = val
    else:
        combined_df = pd.concat([combined_df, val])
combined_df.reset_index(inplace=True, drop=True)

In [34]:
combined_df.to_parquet('./data/raw/parquet/combined.parquet', index=False)

In [35]:
combined_df

        value                sourceDate         common_id
0        19.5 2015-10-30 08:00:00+00:00  2824450000100-de
1        19.1 2015-11-02 08:00:00+00:00  2824450000100-de
2        19.1 2015-11-02 09:00:00+00:00  2824450000100-de
3        19.1 2015-11-02 10:00:00+00:00  2824450000100-de
4        19.1 2015-11-02 11:00:00+00:00  2824450000100-de
...       ...                       ...               ...
415626   22.1 2022-04-02 12:15:00+00:00          36022-ie
415627   22.6 2022-04-02 12:45:00+00:00          36022-ie
415628   22.3 2022-04-02 13:15:00+00:00          36022-ie
415629   22.4 2022-04-02 13:45:00+00:00          36022-ie
415630   22.8 2022-04-02 14:00:00+00:00          36022-ie

[415631 rows x 3 columns]